@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Roboto:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
    background: url('fondo_cafe_2.jpg') no-repeat center center fixed;        
    background-size: cover;
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    background: linear-gradient(to right, rgb(218, 179, 107), rgb(61, 58, 33));
    padding: 15px 0;
    z-index: 100;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    transition: background-color 0.3s, box-shadow 0.3s;
}

body.scrolled .header {
    background-color: #3e2723;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.7);
}

.navbar {
    display: flex;
    justify-content: space-between; /* Cambiado a space-between */
    align-items: center;
    padding: 10px 20px;
    background: linear-gradient(to right, rgb(58, 48, 30), rgb(177, 169, 95));
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    transition: background 0.3s, box-shadow 0.3s;
}

.nav-list {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

.nav-list li {
    margin: 0 20px;
    position: relative;
}

.nav-list li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.1em;
    padding: 10px 15px;
    border-radius: 5px;
    transition: color 0.3s, transform 0.3s;
    font-weight: 500;
}

.nav-list li a:hover {
    color: #ffd257;
    transform: translateY(-3px);
}

.nav-list li a::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -5px;
    width: 0;
    height: 2px;
    background-color: #ffc107;
    transition: width 0.3s ease, left 0.3s ease;
}

.nav-list li a:hover::after {
    width: 100%;
    left: 0;
}

.menu-link.active {
    color: #ffc107;
    font-weight: bold;
}

.menu-toggle {
    display: none; /* Ocultar por defecto */
    flex-direction: column;
    cursor: pointer;
}

.menu-toggle .bar {
    height: 4px;
    width: 25px;
    background-color: white;
    margin: 3px 0;
    transition: all 0.3s ease;
}

.video-section {
    position: relative;
    width: 100%;
    height: 100vh;
    padding-top: 70px;
}

#cafe-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.8);
}

.overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-container {
    background-color: rgba(255, 255, 255, 0);
    padding: 150px;
    border: 2px solid #ffffff;
    border-radius: 0;
    text-align: center;
}

.text-overlay {
    color: #ffffff;
    font-family: 'Playfair Display', serif;
    font-size: 5em;
}

.text-overlay.sweep {
    font-size: 2.5em;
    color: #e6c994;
}

.fade-in {
    opacity: 0;
    animation: fadeIn 2s forwards;
}


@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.sweep {
    overflow: hidden;
    white-space: nowrap;
    animation: sweep 2s forwards;
}

@keyframes sweep {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}

@media (max-width: 768px) {
    .navbar ul {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 70px;
        right: 0;
        background: linear-gradient(to right, rgb(58, 48, 30), rgb(177, 169, 95));
    }

    .navbar ul.show {
        display: flex;
    }

    .menu-toggle {
        display: flex;
    }
}




/* Botón principal */
#tutorial-button {
    display: inline-block;
    margin-top: 1.5rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    color: #fff;
    background-color: transparent;
    border: 2px solid #ffffff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
    opacity: 0;
    animation: fadeIn 2s forwards 1.5s;
}

#tutorial-button:hover {
    background-color: #e6b800;
}


/* Contenedor de video a pantalla completa */
.video-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9); /* Fondo oscuro semi-transparente */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1000;
}

/* Estilo del video */
.fullscreen-video {
    width: 90%;
    height: auto;
    max-height: 80vh;
}

/* Botón "Salir" */
.close-button {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    color: #fff;
    background-color: #e60000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1001;
}







.specialties-section {
    margin: 2rem auto;
    padding: 2rem;
    background-color: rgba(163, 133, 99, 0.75); /* Usando rgba para mayor control de opacidad */
    border-radius: 12px; /* Bordes ligeramente más redondeados */
    box-shadow: 0 4px 25px rgba(0, 0, 0, 0.6); /* Sombra más pronunciada */
    color: #fff; /* Color de texto más uniforme */
    max-width: 1500px;
    font-family: 'Arial', sans-serif; /* Tipografía más legible */
}

.specialties {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    flex-wrap: wrap;
}

.specialty-item {
    text-align: center;
    flex: 1 1 calc(30% - 20px); /* Ajuste flexible para el ancho con un margen */
    margin: 10px; 
    background-color: rgba(61, 50, 33, 0.85); /* Fondo más opaco para mayor contraste */
    border-radius: 15px; 
    padding: 1.5rem; 
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4); /* Sombra un poco más oscura */
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

.specialty-item:hover {
    transform: translateY(-5px); 
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.5); /* Sombra más pronunciada en hover */
}

.specialty-item img {
    width: 80%; /* Aumentado para mejorar la visibilidad */
    max-width: 300px; /* Tamaño máximo ajustado */
    height: auto;
    border-radius: 10px;
    margin-bottom: 1rem; 
}

.specialty-item h2 {
    font-size: 2.5rem; /* Aumentado el tamaño de la fuente para títulos */
    color: #fff; 
    margin: 0.5rem 0; 
    font-weight: bold; /* Negrita para mayor énfasis */
}

.specialty-item p {
    font-size: 1.25rem; /* Ajustado el tamaño de la fuente para descripciones */
    color: rgba(240, 240, 240, 0.9); /* Ligera opacidad para suavizar el texto */
    margin: 0; 
    text-align: justify; /* Justificado para consistencia */
}
.botones-contenedor {
    text-align: center; /* Centra el contenido dentro del contenedor */
    margin-top: 20px; /* Espacio superior opcional */
}

/* Estilos de los botones */
.boton-estilo {
    background-color: #3f2f1b; /* Color de fondo verde */
    color: white; /* Color del texto en blanco */
    border: none; /* Sin borde */
    padding: 24px 48px; /* Espaciado interno incrementado */
    text-align: center; /* Centrar texto */
    text-decoration: none; /* Sin subrayado */
    display: inline-block; /* Mostrar como bloque en línea */
    font-size: 18px; /* Tamaño de fuente incrementado */
    margin: 10px 2px; /* Espaciado alrededor de los botones */
    cursor: pointer; /* Cambiar cursor al pasar sobre el botón */
    border-radius: 8px; /* Bordes más redondeados */
    transition: background-color 0.3s, transform 0.2s; /* Transición suave para el cambio de color y tamaño */
}

.boton-estilo:hover {
    background-color: #533e22; /* Color de fondo al pasar el mouse */
    transform: scale(1.05); /* Aumentar ligeramente el tamaño al pasar el mouse */
}


@media (max-width: 768px) {
    .specialties {
        flex-direction: column;
        align-items: center;
    }

    .specialty-item {
        margin: 10px 0;
    }
}

















/* Sección de productos */
.product-section {
    margin: 4.5rem auto; /* Aumenta el margen superior e inferior a 4rem */
    padding: 4rem; /* Aumenta el espaciado interno a 4rem */
    background-color: #725e45; /* Color de fondo */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5); /* Sombra para dar profundidad */
}

#productos-heading {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    color: #ffffff;
    text-align: center;
    font-weight: bold;
}

.search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem; /* Aumentar la separación entre elementos */
    margin-bottom: 1rem;
}

.search-input {
    padding: 0.5rem 1rem; /* Espacio interno ajustado */
    font-size: 1rem; /* Tamaño de fuente más grande */
    border: 1px solid #ffffff;
    border-radius: 4px;
    width: 10px; /* Ancho ajustado a 200px */
    height: 2.5rem; /* Altura aumentada */
    background-color: #fffefc;
    color: #000000;
    transition: border-color 0.3s;
}

.search-input:focus {
    border-color: #523817;
    outline: none;
}

.search-button {
/* Ajustar el padding */
    font-size: 1rem;
    background-color: #493b28;
    color: #ffffff; /* Cambiar el color a blanco para mejor contraste */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s; /* Añadido de transformación */
}

.search-button:hover {
    background-color: #cf9f44;
    transform: translateY(-2px);
}



.search-button {
    padding: 0.7rem 1.2rem;
    font-size: 1rem;
    background-color: #493b28;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s; /* Añadido de transformación */
}

.search-button:hover {
    background-color: #cf9f44;
    transform: translateY(-2px);
}

.cart-modal {
    display: none;
    position: absolute;
    top: 60px;
    right: 20px;
    width: 320px;
    background-color: #000000;
    color: #000000;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.cart-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #444;
    padding-bottom: 0.5rem;
}

.cart-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 0;
    border-bottom: 1px solid #444;
}

.cart-item img {
    width: 50px;
    height: 50px;
    border-radius: 4px;
    margin-right: 0.5rem;
}

.cart-item-name {
    flex-grow: 1;
    color: #f0f0f0;
}

.remove-item {
    cursor: pointer;
    color: #dc3545;
    margin-left: 0.5rem;
    font-size: 1.2rem;
}

.cart-total {
    margin-top: 1rem;
    text-align: right;
    font-weight: bold;
}

.close-cart {
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 1.5rem;
}

.product-gallery {
    display: flex;
    overflow: hidden;
    width: 100%;
    max-width: 700px; /* Aumenta el ancho máximo para una mejor visualización */
    margin: 0 auto;
    border: 2px solid #c4a4a4; /* Bordes sutiles alrededor de la galería */
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); 
    background-color: wheat;/* Sombra para dar profundidad */
}

.product-item {
    min-width: 100%;
    transition: transform 0.5s ease, opacity 0.5s ease;
    display: none;
    padding: 15px; /* Espaciado interno para mayor separación */
    text-align: center; /* Centra el texto */
}

.product-item.active {
    display: block;
    opacity: 1;
}

.product-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 30px rgba(255, 255, 255, 0.3); /* Sombra más intensa al pasar el ratón */
}

.product-image {
    width: 400px; /* Ajusta el tamaño a 150px */
    height: auto; /* Mantiene la proporción de la imagen */
    border-radius: 8px;
    transition: transform 0.3s ease; /* Transición suave al aumentar el tamaño */
}


.product-image:hover {
    transform: scale(1.05); /* Aumentar ligeramente la imagen al pasar el ratón */
}

.product-price {
    font-size: 1.6rem; /* Aumenta el tamaño de la fuente para un mejor enfoque */
    color: #53160b; /* Color del texto del precio */
    margin: 0.5rem 0;
    font-weight: bold; /* Texto en negrita para el precio */
}
.add-to-cart {
    padding: 0.7rem 1.2rem;
    font-size: 1rem;
    background-color: #523d26;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: background-color 0.3s, transform 0.3s;
}

.add-to-cart:hover {
    background-color: #9c7f3e;
    transform: translateY(-2px);
}

.carousel-buttons {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.prev-button, .next-button {
    background-color: #884e17;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
    cursor: pointer;
    margin: 0 1rem;
    transition: background-color 0.3s, transform 0.3s; /* Añadido de transformación */
}

.prev-button:hover, .next-button:hover {
    background-color: #9b7632;
    transform: translateY(-2px); /* Efecto de elevación */
}

.prev-button, .next-button {
    z-index: 10; /* O un valor mayor si es necesario */
}

.cart-icon {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    color: #000000;
    position: relative;
}


.payment-form-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(39, 39, 39, 0.8);
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    padding: 20px; /* Espaciado interno */
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5); /* Sombra para darle profundidad */
    transition: opacity 0.3s ease, visibility 0.3s ease; /* Transición suave */
}

/* Estilo para el contenedor del formulario */
.payment-form {
    background: rgb(71, 71, 71); /* Fondo más claro para el formulario */
    border-radius: 10px; /* Bordes redondeados */
    padding: 30px; /* Espaciado interno */
    box-shadow: 0 2px 10px rgba(255, 255, 255, 0.3); /* Sombra del formulario */
    width: 90%; /* Ancho del formulario */
    max-width: 500px; /* Ancho máximo del formulario */
}

/* Estilo para los títulos */
.payment-form h2 {
    margin-bottom: 20px; /* Espaciado inferior */
    font-size: 1.5rem; /* Tamaño de fuente */
    text-align: center; /* Centrar texto */
    color: white;
}

/* Estilo para los botones */
.payment-form button {
    background-color: #007bff; /* Color del botón */
    color: rgb(0, 0, 0); /* Color del texto del botón */
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados */
    padding: 10px 20px; /* Espaciado interno */
    font-size: 1rem; /* Tamaño de fuente */
    cursor: pointer; /* Cursor de puntero */
    transition: background-color 0.3s ease; /* Transición de color */
}

.payment-form button:hover {
    background-color: #0056b3; /* Color al pasar el mouse */
}

/* Estilo para enlaces (si hay) */
.payment-form a {
    color: #007bff; /* Color del enlace */
    text-decoration: none; /* Sin subrayado */
    margin-top: 10px; /* Margen superior */
    transition: color 0.3s ease; /* Transición de color */
}

.payment-form a:hover {
    color: #0056b3; /* Color al pasar el mouse */
}

#payment-form h3 {
    text-align: center;
    color: white;
}

#payment-form label {
    display: block;
    margin-top: 10px;
    color: white;
}

#payment-form input,
#payment-form select {
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #fffdfd;
    background-color: #fffcfc;
    color: rgb(0, 0, 0);
    transition: border-color 0.3s;
}

#payment-form input:focus,
#payment-form select:focus {
    border-color: #15bd3f;
    outline: none;
}

.payment-form .pay-button {
    width: 100%;
    margin-top: 10px;
    background-color: #4CAF50; /* Color verde */
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.payment-form .cancel-button {
    width: 100%;
    margin-top: 10px;
    background-color: #f44336; /* Color rojo */
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}
.invoice-container {
    background-image: url('logo.jpeg');
    background-size: cover;
    background-position: center;
    padding: 40px;
    border-radius: 10px;
    width: 700px;
    text-align: center;
    color: white;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.3);
    position: relative;
    overflow: hidden;
    margin: 20px auto;
    font-family: Arial, sans-serif;
}

/* Capa semitransparente sobre el fondo */
.invoice-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.918);
    border-radius: 10px;
    z-index: 1;
}

.invoice-container h2,
.invoice-container p,
.invoice-container button {
    position: relative;
    z-index: 2;
}

.invoice-container h2 {
    font-size: 24px;
    margin-bottom: 15px;
    color: #f8f8f8;
}

.invoice-container p {
    font-size: 16px;
    color: #dcdcdc;
    line-height: 1.5;
    margin-bottom: 20px;
}

.invoice-container button {
    padding: 12px 25px;
    border: none;
    border-radius: 5px;
    background-color: #6a4f4b;
    color: white;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.invoice-container button:hover {
    background-color: #8b5e59;
    transform: scale(1.05);
}

.invoice-container button:active {
    transform: scale(0.98);
}




.buy-button {
    padding: 0.7rem 1.5rem;
    font-size: 1.1rem;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    font-weight: bold;
}

.buy-button:hover {
    background-color: #218838;
    transform: translateY(-2px);
}

.pay-button {
    padding: 0.7rem 1.5rem;
    font-size: 1.1rem;
    background-color: #61ad19;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    font-weight: bold;
}

.pay-button:hover {
    background-color: #26690b;
    transform: translateY(-2px);
}

/* Estilo para el botón de cerrar (X) */
.close-cart {
    background: transparent; /* Fondo transparente */
    border: none; /* Sin borde */
    color: #dc3545; /* Color rojo para destacar */
    font-size: 1.5rem; /* Tamaño de fuente grande */
    cursor: pointer; /* Cambia a mano al pasar */
    transition: color 0.3s; /* Transición suave para el color */
}

/* Efecto al pasar el ratón sobre el botón de cerrar */
.close-cart:hover {
    color: #c82333; /* Rojo más oscuro al pasar el ratón */
}

.close-payment {
    background: transparent; /* Fondo transparente */
    border: none; /* Sin borde */
    color: #dc3545; /* Color rojo para destacar */
    font-size: 1.5rem; /* Tamaño de fuente grande */
    cursor: pointer; /* Cambia a mano al pasar */
    transition: color 0.3s; /* Transición suave para el color */
}

/* Efecto al pasar el ratón sobre el botón de cerrar */
.close-payment:hover {
    color: #c82333; /* Rojo más oscuro al pasar el ratón */
}


/* Estilos responsivos */
@media (max-width: 768px) {
    .product-item {
        width: 100%;
        padding: 0.5rem; /* Espaciado interno */
        box-sizing: border-box; /* Incluye el padding en el ancho */
    }
    

    .search-input,
    .search-button {
        width: 100%; /* Hacer que los botones sean del ancho completo */
    }

    .product-price {
        font-size: 1.2rem; /* Reducir tamaño del precio */
    }

    .prev-button,
    .next-button {
        font-size: 1.2rem; /* Reducir tamaño de botones de navegación */
    }

    .buy-button,
    .pay-button {
        font-size: 1rem; /* Reducir tamaño de botones de compra */
    }
}

@media (max-width: 480px) {
    #productos-heading {
        font-size: 2rem; /* Ajustar el tamaño del encabezado */
    }

    .product-price {
        font-size: 1rem; /* Ajustar tamaño del precio */
    }

    .prev-button,
    .next-button {
        font-size: 1rem; /* Ajustar tamaño de botones de navegación */
    }

    .buy-button,
    .pay-button {
        font-size: 0.9rem; /* Ajustar tamaño de botones de compra */
    }

    .cart-modal {
        width: 90%; /* Ajustar ancho del modal del carrito */
        left: 5%; /* Centrar el modal */
        right: 5%;
    }

    .payment-form-modal {
        width: 90%; /* Ajustar ancho del modal de pago */
        left: 5%; /* Centrar el modal */
        right: 5%;
    }
}

/*seccion nosotres*/
.nosotros-section {
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
    padding: 60px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    position: relative;
    overflow: hidden;
}

.nosotros-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.842);
    z-index: 1;
    filter: blur(5px);
}

.nosotros-content {
    display: flex;
    gap: 30px;
    max-width: 900px;
    background: rgba(65, 65, 65, 0.7);
    padding: 30px;
    border-radius: 15px;
    position: relative;
    z-index: 2;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.nosotros-content.visible {
    opacity: 1;
    transform: translateY(0);
}

.fade-in {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.fade-in.active {
    opacity: 1;
    transform: translateY(0);
}

.inatec-image {
    width: 100%;
    max-width: 180px; /* Ancho máximo para imágenes en pantallas grandes */
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    object-fit: contain;
}

.nosotros-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.nosotros-text h2 {
    margin-bottom: 15px;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.nosotros-text h3 {
    font-size: 1.5em;
    margin-bottom: 5px;
    color: #f8c471;
}

.nosotros-text p {
    font-size: 1.1em;
    line-height: 1.6;
}

.nosotros-text ul {
    list-style: none;
    padding-left: 0;
}

.nosotros-text li {
    padding-left: 20px;
    position: relative;
    margin-bottom: 10px;
}

.nosotros-text li::before {
    content: "•";
    color: #f8c471;
    position: absolute;
    left: 0;
}
.inatec-image {
    width: 100%;
    max-width: 50%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    object-fit: contain;
}

/* Estilos responsivos */
@media (max-width: 768px) {
    .nosotros-content {
        flex-direction: column;
        padding: 20px;
        gap: 20px;
    }

    .inatec-image {
        max-width: 100%;
    }

    .nosotros-text h2 {
        font-size: 1.8em;
    }

    .nosotros-text h3 {
        font-size: 1.3em;
    }

    .nosotros-text p {
        font-size: 1em;
    }
}

@media (max-width: 480px) {
    .nosotros-section {
        padding: 40px 10px;
    }

    .nosotros-text h2 {
        font-size: 1.6em;
    }

    .nosotros-text h3 {
        font-size: 1.2em;
    }

    .nosotros-text p {
        font-size: 0.9em;
    }

    .nosotros-content {
        gap: 15px;
    }
}


/*seccion de cold brew*/
.fashion-section {
    margin: 2rem auto;
    padding: 2rem;
    background-color: #725e45;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.747);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section-title {
    text-align: center;
    margin-bottom: 40px;
}

.section-title h2 {
    font-size: 2.8em;
    margin: 0;
    animation: fadeIn 0.6s;
   color: rgb(255, 255, 255);
}

.section-title h3 {
    font-size: 2.8em;
    margin: 0;
    animation: fadeIn 0.6s;
    color: rgb(128, 111, 75);
}

.item {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    animation: slideIn 0.6s;
    transition: transform 0.3s ease;
}

.item:hover {
    transform: scale(1.02);
}

.item img {
    width: 380px;
    height: 380px;
    border-radius: 15px;
    transition: transform 0.3s ease;
}

.item img:hover {
    transform: scale(1.1);
}

.description {
    margin-left: 10px;
    background-color: white;
    color: black;
    padding: 25px;
    width: 380px;
    height: 380px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 15px;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.description:hover {
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
    transform: translateY(-5px);
}

.description p {
    margin: 0 0 15px;
}

.orange {
    background-color: rgb(202, 180, 138);
    color: white;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideIn {
    from {
        transform: translateX(-20px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@media (max-width: 768px) {
    .item {
        flex-direction: column;
        align-items: center;
    }

    .description {
        margin-left: 0;
        margin-top: 10px;
    }
    .section-title h2 {
        font-size: 2em;
    }

    .section-title h3 {
        font-size: 1.5em;
    }
}









/* Estilos para la Sección de Contactos */
.contactos-section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 50px;
    gap: 20px;
    background-color: #695d395d;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.contact-map {
    flex: 1;
    margin-right: 40px;
    height: 500px;
    filter: grayscale(100%);
    border-radius: 10px;
    overflow: hidden;
}

.contact-form {
    flex: 1;
    max-width: 400px;
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.contact-form h2 {
    margin-bottom: 20px;
    font-size: 1.5em;
    color: #4a3c26;
    text-align: center;
}

.contact-form label {
    display: block;
    margin: 15px 0 5px;
    font-weight: bold;
    color: #4a3c26;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s;
}

.contact-form input:focus,
.contact-form textarea:focus {
    border-color: #6b4f30;
    outline: none;
}

.contact-form button {
    background-color: #6b4f30;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s;
    display: block;
    width: 100%;
}

.contact-form button:hover {
    background-color: #8b6541;
}
@media (max-width: 768px) {
    .contactos-section {
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    .contact-map {
        margin-right: 0;
        margin-bottom: 20px;
        width: 100%;
    }

    .contact-form {
        max-width: 100%;
    }
}





/* Estilos del Footer */
.footer {
    background-color: #3e2723;
    color: #ffffff;
    padding: 20px 40px;
    text-align: center;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social-media {
    margin-bottom: 20px;
}

.social-media a {
    color: #ffffff;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

.social-media a:hover {
    color: #fbc02d;
}

.footer-links {
    margin-bottom: 20px;
}

.footer-links a {
    color: #ffffff;
    margin: 0 10px;
    text-decoration: none;
}

.footer-links a:hover {
    color: #fbc02d;
}

.contact-info {
    margin-bottom: 20px;
}

.contact-info p {
    margin: 5px 0;
}

.why-choose-us {
    margin-bottom: 20px;
}

.why-choose-us h3 {
    margin: 10px 0;
}

.footer p {
    margin-top: 20px;
    font-size: 14px;
}

@media (max-width: 600px) {
    .footer-content {
        flex-direction: column;
    }
}


#reviews {
    margin: 2rem auto;
    padding: 2rem;
    background-color: #725e45;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(148, 140, 140, 0.747);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    color: #ffffff;
}

.review, .new-review {
    margin-bottom: 20px;
    padding: 15px;
    border-bottom: 1px solid #eee;
    text-align: left;
}

.review-text {
    font-size: 1rem;
    color: #ffffff;
}

.review-author {
    font-size: 0.9rem;
    color: #ffffff;
    margin-top: 5px;
}

.like-btn, .reply-btn {
    margin-top: 10px;
    background-color: #1b140b;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 5px;
}

.like-btn:hover, .reply-btn:hover {
    background-color: #311b08;
}

textarea, input[type="text"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
}

button {
    padding: 10px 15px;
    background-color: #4e4b22;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    text-align: center;
}

button:hover {
    background-color: #886421;
}

.replies {
    margin-top: 10px;
    padding-left: 20px;
    border-left: 2px solid #ddd;
}

.reply {
    margin-top: 10px;
    font-size: 0.9rem;
    color: #ffffff;
}




.faq-section {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    background-color: #525252bb;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.faq-section h2 {
    text-align: center;
    color: #ffffff;
    font-size: 24px;
    margin-bottom: 20px;
}

.faq-item {
    margin-bottom: 15px;
}

.faq-question {
    font-weight: bold;
    color: #382708;
    cursor: pointer;
    padding: 10px;
    background-color: #ffeebd;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.faq-question:hover {
    background-color: #b2ebf2;
}

.faq-answer {
    display: none;
    padding: 10px;
    margin-top: 5px;
    background-color: #ffffff;
    border-left: 4px solid #005f73;
    color: #333;
    border-radius: 5px;
    font-size: 14px;
}





.blog-section {
    padding: 20px;
    background-color: #8b6f4f6e;
    border-radius: 8px;
    margin: 20px 0;
    text-align: center;
}

.blog-container {
    display: flex;
    justify-content: space-between; /* Distribuye los elementos en el espacio */
    gap: 15px; /* Espacio entre los elementos */
}

.blog-post {
    flex: 1; /* Cada blog ocupará el mismo espacio */
    padding: 15px;
    background-color: #ffffffd7;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.2s;
}

.blog-post:hover {
    transform: scale(1.02);
}

.blog-image {
    width: 400px; /* Cambia el ancho de la imagen para reducir su tamaño */
    height: 400px; /* Mantiene la proporción de la imagen */
    border-radius: 5px 5px 0 0; /* Bordes redondeados en la parte superior */
    margin-bottom: 10px; /* Espacio entre la imagen y el texto */
}

.blog-content {
    margin-top: 20px;
    padding: 15px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
}




#blog-detail {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: #333;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

#blog-detail h2 {
    font-size: 2em;
    color: #c43a24; /* Color del título */
    margin-bottom: 15px;
}

#blog-detail p {
    margin-bottom: 15px;
    font-size: 1.1em; /* Tamaño del texto */
}

#blog-detail img {
    border-radius: 5px; /* Bordes redondeados para imágenes */
    display: block; /* Centrar las imágenes */
    margin: 0 auto; /* Centrar las imágenes */
    max-width: 100%; /* Asegura que las imágenes no se salgan del contenedor */
}

/* Media Queries para Responsividad */
@media (max-width: 768px) {
    .blog-container {
        flex-direction: column; /* Cambia a una columna en pantallas más pequeñas */
        align-items: center; /* Alinea los elementos al centro */
    }

    .blog-post {
        width: 100%; /* Ocupa todo el ancho del contenedor */
        margin-bottom: 15px; /* Espacio entre los elementos */
    }

    #blog-detail {
        padding: 15px; /* Menos padding en pantallas pequeñas */
    }

    #blog-detail h2 {
        font-size: 1.8em; /* Reduce el tamaño del título */
    }

    #blog-detail p {
        font-size: 1em; /* Reduce el tamaño del texto */
    }
}

@media (max-width: 480px) {
    .blog-section {
        padding: 15px; /* Menos padding en pantallas muy pequeñas */
    }

    #blog-detail h2 {
        font-size: 1.5em; /* Tamaño del título aún más pequeño */
    }

    #blog-detail p {
        font-size: 0.9em; /* Tamaño del texto aún más pequeño */
    }
}